<app-nav></app-nav>
<div class="crt">
  <button [routerLink]="['/details', -1]" class="addExpenses-btn">+ ADD EXPENSE</button>
</div>

<div>
  <div class="table-h2">
    <h2 class="title">Expense List</h2>
    <button routerLink="/view" class="addExpenses-btn">View Expense</button>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Sr.No</th>
          <th>Category</th>
          <th>Amount</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th>Comments</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of arr; let i = index">
          <td>{{i+1}}</td>
          <td>{{ expense.category }}</td>
          <td>{{ expense.amount }}</td>
          <td>{{ expense.createdAt }}</td>
          <td>{{ expense.updatedAt }}</td>
          <td>{{ expense.comments }}</td>
          <td>
            <button mat-button class="small-button edit-button" [routerLink]="['/details', i]">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button class="small-button delete-button" (click)="deleteExpense(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

